.Product-Card-Img {
	margin-bottom: 22px;
	max-width: 100%;
}

.Product-Card-Wrapper {
	margin: 0 auto;
	max-width: 576px;
	text-align: center;
}

.pc__product-price {
	flex: none;
	font-size: 30px;
	font-weight: 700;
	text-align: right;
	width: 64px;
}

.pc__product-title {
	flex-grow: 1;
	font-size: 30px;
	margin: 0;
	text-align: left;
}

.pc__product-type {
	color: #78777c;
	display: inline-block;
	font-size: 24px;
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
}
