.pc__swatch-button {
	background-color: transparent;
	border: none;
	height: 56px;
	margin-right: 20px;
	padding: 1px;
	vertical-align: top;
	width: 56px;
}

.pc__swatch {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.pc__swatch-button:focus > .pc__swatch {
	border-radius: 50%;
}

.pc__swatch:hover {
	border-radius: 50%;
}
