.Product-Card-Img {
	max-width: 100%;
}

.Product-Card-Wrapper {
	margin: 0 auto;
	max-width: 576px;
	text-align: center;
}

.pc__product-price {
	flex: none;
	text-align: right;
	width: 64px;
}

.pc__product-title {
	flex-grow: 1;
	margin: 0;
	text-align: left;
}

.pc__product-type {
	display: inline-block;
	text-align: left;
	width: 100%;
}
