.App {
	/*padding-top: 10%;*/
	padding: 0;
}

.d-b {
	display: block;
}

.d-flex {
	display: flex;
}

.d-ib {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
